alias xdo='xdg-open'
alias install='sudo apt-get install'
alias acs='apt-cache search'
alias vrc='vim ~/.vimrc'
alias arc='vim ~/.config/awesome/rc.lua'
alias vch='vim ~/myfiles/carefull/Dropbox/IITB/cheatsheets/vim'
alias tlc='vim ~/myfiles/carefull/Dropbox/IITB/cheatsheets/theLinuxCommandline'
alias brc='vim ~/.bashrc'
alias zrc='vim ~/.zshrc'
alias gl="git log --pretty=format:'%C(yellow)%h%C(red)%d %C(cyan)%an%Creset %s %Cgreen(%cr)' --graph --all"
alias gs='git status -uall'
alias naughty='find . -type f -exec stat --printf "%x %n\n" "{}" \+ | awk -F"[-: ]" "{print \$1\$2\$3\$4\$5\" \"\$8}" | sort -nr'
alias rm='rm -rfv'
alias ft='find . | sed -e "s/[^-][^\/]*\//  |/g"'                                                                  # file tree    --most unfiltered
alias ngt='find . -ipath "*.git" -prune -o -print| sed -e "s/[^-][^\/]*\//  |/g"'         # no git tree  --more fileterd
alias nft='find . -ipath "*.git" -prune -o -type d -print| sed -e "s/[^-][^\/]*\//  |/g"'                          # no file tree --most filtered
