# field          allowed values
# -----          --------------
# minute         0-59
# hour           0-23
# day of month   1-31
# month          1-12 (or names, see below)
# day of week    0-7 (0 or 7 is Sunday, or use names)

# =======================================================

#min  hour   dom  Mon  dow
# timelapse screenshots
#*   *       *   *   *      DISPLAY=:0 ~/bin/timelapse.sh
0   9       *   *   *   crontab -l | gzip > ~/shared_folders/transfer/'crontab-'$(date +"\%Y\%m\%d-\%H\%M\%S")'.gz'
0   9,21    *   *   *   bash ~/ticker_trigger.sh
