# field          allowed values
# -----          --------------
# minute         0-59
# hour           0-23
# day of month   1-31
# month          1-12 (or names, see below)
# day of week    0-7 (0 or 7 is Sunday, or use names)

# =======================================================

#min  hour   dom  Mon  dow
# timelapse screenshots
#*  *       *   *   *   DISPLAY=:0 ~/bin/timelapse.sh
#0  9       *   *   *   crontab -l | gzip > ~/shared_folders/transfer/'crontab-'$(date +"\%Y\%m\%d-\%H\%M\%S")'.gz'
0   9       *   *   *   crontab -l > ~/src/dotfiles/crontab
0   9-21/2  *   *   *   bash ~/src/private/bin/ticker_trigger.sh
00  19      *   *   *   bash ~/shared_folders/minimal/Pensieve/textfiles/ledger/graphs/1plot_ledger_projection.sh 2>&1 > /var/tmp/ledger_cron_output_`date +\%Y_\%m_\%d-\%H\%M\%S`.log
00  20      *   *   *   bash ~/shared_folders/minimal/Pensieve/textfiles/ledger/graphs/1send_projection_to_influx.sh
