# field          allowed values
# -----          --------------
# minute         0-59
# hour           0-23
# day of month   1-31
# month          1-12 (or names, see below)
# day of week    0-7 (0 or 7 is Sunday, or use names)

# =======================================================

#min  hour   dom  Mon  dow
# Remind to call mom
15    18,19  */2  *    *      DISPLAY=:0 feh ~/PersonalData_max26gb/Jpegs/keep-calm-and-call-my-mother-1.png
# timelapse screenshots
#*    *      *    *    *      DISPLAY=:0 ~/bin/timelapse.sh
# ALARM
*/15  3-4    *    *    *      bash -c "DISPLAY=:0 XDG_RUNTIME_DIR=/run/user/`id -u` mpv ~/Downloads/14_Rules_for_a_happier_life.mp4"
